aiogram==2.25.1
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
altgraph==0.17.3
antlr4-python3-runtime==4.9.3
anyio==3.6.2
argostranslate==1.9.1
args==0.1.0
aspose-words==23.6.0
asttokens==2.4.0
async-timeout==4.0.2
attrs==23.1.0
auto-py-to-exe==2.36.0
Babel==2.9.1
backcall==0.2.0
bayoo-docx==0.2.20
beautifulsoup4==4.11.1
blinker==1.6.2
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
clint==0.5.1
colorama==0.4.6
comtypes==1.1.14
configparser==5.3.0
contourpy==1.1.1
cryptography==41.0.4
ctranslate2==3.20.0
customtkinter==5.2.0
cycler==0.12.0
darkdetect==0.8.0
darr==0.5.5
decorator==5.1.1
dill==0.3.7
docopt==0.6.2
docx2pdf==0.1.8
docxcompose==1.4.0
EasyProcess==1.1
ecapture==2.0.2
Eel==0.16.0
entrypoint2==1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
feedparser==6.0.10
filelock==3.12.3
Flask==2.3.2
fonttools==4.43.0
frozenlist==1.3.3
fsspec==2023.10.0
future==0.18.3
geojson==2.5.0
gevent==22.10.2
gevent-websocket==0.10.1
google==3.0.0
googletrans==4.0.0rc1
greenlet==2.0.2
gTTS==2.3.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2022.12.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.17.3
hyperframe==5.2.0
idna==2.10
ipython==8.15.0
itsdangerous==2.1.2
jaraco.context==4.3.0
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.2
keyboard==0.13.5
kiwisolver==1.4.5
krispy==1.0.4
langdetect==1.0.9
lxml==4.9.2
magic-filter==1.0.9
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
more-itertools==10.1.0
MouseInfo==0.1.3
mpmath==1.3.0
mss==9.0.1
multidict==6.0.4
multiprocess==0.70.15
networkx==3.1
Nuitka==1.8.3
num2words==0.5.12
numpy==1.24.0
omegaconf==2.3.0
openai==0.28.0
opencv-python==4.8.1.78
openpyxl==3.1.2
ordered-set==4.1.0
outcome==1.2.0
packaging==23.1
pandas==2.0.2
parso==0.8.3
pathos==0.3.1
pdfkit==1.0.0
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.5.0
playsound==1.3.0
pox==0.3.3
ppft==1.7.6.7
prompt-toolkit==3.0.39
protobuf==4.24.4
psutil==5.9.5
pure-eval==0.2.2
py3Dmol==2.0.1.post1
pyaes==1.6.1
pyasn1==0.5.0
PyAudio==0.2.13
PyAutoGUI==0.9.54
pycaw==20230407
pycparser==2.21
PyExecJS==1.5.1
pygame==2.5.2
PyGetWindow==0.0.9
pyglet==2.0.9
Pygments==2.16.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.3
pyjokes==0.6.0
PyJWT==2.8.0
PyMsgBox==1.0.9
pynput==1.7.6
pyowm==3.3.0
pyparsing==3.1.0
PyPDF2==3.0.1
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
pyTelegramBotAPI==4.12.0
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.0
python-telegram-bot==20.3
python-tkdnd==0.2.1
pyttsx3==2.90
pytweening==1.0.7
pytz==2023.3
pywin32==305
pywin32-ctypes==0.2.1
PyYAML==6.0.1
rdkit==2022.9.5
regex==2023.10.3
requests==2.31.0
rfc3986==1.5.0
rsa==4.9
sacremoses==0.0.53
safetensors==0.4.0
scikit-learn==1.3.0
scipy==1.11.2
selenium==4.12.0
sentencepiece==0.1.99
sgmllib3k==1.0.0
silero==0.4.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sound==0.1.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.3.2.post1
speechpro-cloud-python==0.1.10
SpeechRecognition==3.9.0
srt==3.5.2
stack-data==0.6.2
stanza==1.1.1
sympy==1.12
telebot==0.0.5
Telethon==1.28.5
termcolor==2.1.1
threadpoolctl==3.2.0
tokenizers==0.14.1
toml==0.10.1
torch==2.0.1
torchaudio==2.0.2
tqdm==4.66.1
traitlets==5.9.0
transformers==4.34.1
translators==5.8.7
trio==0.22.2
trio-websocket==0.10.4
ttkwidgets==0.13.0
twilio==8.10.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.13
vk-api==11.9.9
vosk==0.3.45
wcwidth==0.2.6
websockets==10.4
Werkzeug==2.3.4
whichcraft==0.6.1
wikipedia==1.4.0
Wikipedia-API==0.5.8
winshell==0.6
wolframalpha==5.0.0
wsproto==1.2.0
xmltodict==0.13.0
yarl==1.9.2
zope.event==5.0
zope.interface==6.0
zstandard==0.21.0